//$accent: #d50000;
$primary: #f44336; // Interface; Custom lighter red accent
$accent: #ff5252; // Text; Material Dark recommended
$bg: #212121;
//$bg: #121212; // Material Dark recommended
$special: #ffff00;
$pink: #e83e8c;

//background: url(https://blackrockdigital.github.io/startbootstrap-new-age/img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
